.imagem-carrossel-um{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagem-carrossel-dois{
    object-fit: cover;
    height: 400px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    color: darkred;
}

.botao-cor-especial{
    background-color: darkred;
    color:white;
}

.borda-cor-especial{
    border-color: darkred;
}
