header{
    background-color: rgb(151, 143, 143);
    padding: 20px 0;
}

.caixa{
    width:940px;
    position:relative;
    margin: 0 auto;
}

/* position absolute tira o elemento do ponto incial*/
nav {
    position: absolute;
    top: 110px;;
    right: 0;
}

/*mudando as linhas do menu de block para inline*/

nav li{
    display: inline;
/* aumentar o espaçamento dos itens e não o do link, margin é o espaçamento externo */
    margin: 0 0 0 15px;
}

/* que todos os links da navegação fiquem com a letra maiscula */

nav a{
    text-transform: uppercase;
    color:rgb(12, 10, 10);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
   color: #C78C19;
   text-decoration: underline;

}


body{
    background: #ffffff;
}

#banner{
    width:100%;
}

.principal{
    background: #cccccc;
    padding: 30px;

}

.tituloprincipal{
    padding-left: 20px;
}

.titulocentralizado{
    text-align: center;
}

p{
    text-align: center;
    }

em strong{
    color:#ff0000;

}    

#missao{
    font-size: 20px;
}

.itens{
    font-style:italic;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}


ul{
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width:50%
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
    background-color: rgb(151, 143, 143);
}
.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}