body{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Yaldevi', sans-serif;
}
header{
    background-color: rgb(151, 143, 143);
    padding: 20px 0;
}

.caixa{
    width:940px;
    position:relative;
    margin: 0 auto;
}

/* position absolute tira o elemento do ponto incial*/
nav {
    position: absolute;
    top: 110px;;
    right: 0;
}

/*mudando as linhas do menu de block para inline*/

nav li{
    display: inline;
/* aumentar o espaçamento dos itens e não o do link, margin é o espaçamento externo */
    margin: 0 0 0 15px;
}

/* que todos os links da navegação fiquem com a letra maiscula */

nav a{
    text-transform: uppercase;
    color:rgb(12, 10, 10);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
   color: #C78C19;
   text-decoration: underline;

}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}
/*mudar para não ocupar somente o tamanho do seu conteudo
antes era display inline por padrao*/
form label, form legend{
    display:block;
    font-size: 20px;
    margin:0 0 10px;
}
/*virgula me deixa colocar as mesma configurações para duas tags*/

.input-padrao {
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width:50%; /*largura ocupando metade da pag*/
}

.input-padrao[type=text]:focus{
    background: rgb(241, 241, 241);
}

.input-padrao[type=email]:focus{
    background: rgb(241, 241, 241);
}

.input-padrao[type=tel]:focus{
    background: rgb(241, 241, 241);
}

textarea:focus{
    background: rgb(241, 241, 241);
}

.checkbox{
    margin: 20px 0;
}

/*ter duas tags é como ter o dobro da força de um só
tag tem força 1, class força 10, id força 100
estilo inline que é aplicado no html é mais forte, teria força 1000 
e o !important é o mais forte de todos*/

.enviar{
    padding: 15px 0;
    width:40%;
    color:white;
    background: orange;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor:pointer;
}

.enviar:hover{
    background: darkorange;
    transform: rotate(5deg) scale(1.2)
}

table{
    margin: 20px 0 40px;

}

thead{
    background:#555555;
    color:white;
    font-weight: bold;

}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
    
}

thead:hover{
    background: black;
    transition: 2s;
}

td{
    background: rgb(238, 237, 236);
}

td:hover{
    background: rgb(196, 196, 196);
    transition: 2s;
}

tfoot td{
    background: rgb(37, 37, 37);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
    background-color: rgb(151, 143, 143);
}
.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}